<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <trg-location-form
    [location]="data.location || location"
    (updatedLocation)="handleUpdatedData($event)"
    (isDirtyForm)="handleActionStatus($event)"
  ></trg-location-form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">
    {{ "actions.close" | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="location"
    [disabled]="isActionDisabled"
  >
    {{ data.action }}
  </button>
</div>
