<div class="locations-list-wrapper">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        {{ "location.name" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="lng">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by longitude"
      >
        {{ "location.longitude" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element?.lng }}</td>
    </ng-container>

    <ng-container matColumnDef="ltd">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by latitude"
      >
        {{ "location.latitude" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element?.ltd }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <trg-edit-location
          [location]="element"
          [locations]="locations"
          (updatedData)="handleEditLocations($event)"
        ></trg-edit-location>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    [attr.aria-label]="'table.paginator' | translate"
  >
  </mat-paginator>
</div>
<div class="actions-tool">
  <trg-add-location
    [locations]="locations"
    (updatedData)="handleAddLocations($event)"
  ></trg-add-location>
</div>
