.wrapper {
  padding-top: 50px;
}

.header {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #696969;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
