:host ::ng-deep {
  mat-toolbar {
    height: 64px;
  }
}

.sidebar-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
}
