<div class="sidebar">
  <h1>Location Info</h1>
  <mat-divider></mat-divider>
  <ng-container *ngIf="locationItem$ | async as locationItem">
    <div class="sidebar-item">
      <h3>Location name:</h3>
      <div>{{ locationItem?.name }}</div>
    </div>
    <div class="sidebar-item">
      <h3>Location longitude:</h3>
      <div>{{ locationItem?.lng }}</div>
    </div>
    <div class="sidebar-item">
      <h3>Location latitude:</h3>
      <div>{{ locationItem?.ltd }}</div>
    </div>
  </ng-container>
</div>
